<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Проблема технологических зависимостей</title>
    <link rel="stylesheet" href="{{ pat_css }}"> 
  </head> 
  <body>
    <a href="/calc">Калькулятор</a>

    <h1>Как работать с этой проблемой</h1>
    <p>
        Технологическая зависимость представляет собой разновидность нарушения импульсивного контроля, при котором человек испытывает вредное воздействие технологий в результате чрезмерного использования компьютера, интернета, видеоигр, мобильных устройств. Зависимость от технологий можно разбить на такие категории, как игровая зависимость, зависимость от социальных сетей, покупок, потребления видеоконтента, азартных игр.
    </p>
    <img src="{{ path_img }}">

    <h2>Как решить проблему:</h2>
    <ol>
        <li>Лимиты на время</li>
        <li>Удалить тик ток</li>
        <li>Гулять</li>
    </ol>
    <iframe src="https://www.meteoblue.com/en/weather/widget/daily?geoloc=detect&days=3&tempunit=CELSIUS&windunit=METER_PER_SECOND&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 162px; height: 420px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/index?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
  </body>   
</html>
